body{
    background-color: skyblue;
}
a{
    text-decoration: none;
    margin-right: 12px;
    text-align: left;
    color:black;
    margin: 100px;

}
a:hover{
    color: green;
}
h1{
background-color: aquamarine;

}
li{
    
    font-weight: bolder;
}
p{
    font-weight: bolder;
}
.btn{
box-sizing: border-box;
}
.btn:hover{
    color: blue;
}